# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\001_My_Space\92_Workspace\22_Java_Interview_Coding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
